---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.svelte';
import "../styles/global.css";
---

<Layout title="Tailspin Toys - 新しいお気に入りのゲームをクラウドファンディング！">
  <div class="py-8">
    <div class="max-w-3xl mb-10">
      <h1 class="text-4xl font-bold mb-4 text-slate-100">Tailspin Toys へようこそ</h1>
      <p class="text-xl text-slate-300">次のお気に入りのゲームを見つけよう。気に入ったら支援もできます。コレクションをチェック！</p>
    </div>
    
    <GameList client:only="svelte" />
  </div>
</Layout>
